html {
  background-color: black;
  color: aliceblue;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25.33%;
  margin: auto;
}

img {
  height: 400px;
}

h2 {
  text-align: center;
}

 h2 + p {
  text-align: center;
}